.course-container {
  // overwrite
  .list-course__title {
    font-weight: 400;
  }
}

.form-container {
  .form__group {
    span {
      display: flex;
      align-items: center;
      justify-content: space-between;
      input {
        width: 70%;
      }

      .course-thumb-preview {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: 1px solid #ccc;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 75%;
          object-fit: cover;
        }
      }
    }
  }
}
