.test-container {
  display: flex;
  justify-content: space-between;
}
.frame-1 {
  width: 70%;
  height: 100vh;
}
.frame-2 {
  width: 30%;
  height: 100vh;
}

.add-btn {
  position: fixed;
  bottom: 10%;
  right: 4%;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1056;
}

.tab-list {
  list-style: none;
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.tab-item button {
  border: none;
  padding: 6px 26px;
  border-radius: 6px;
}

.tab-item button.active {
  background-color: #f7f5c9;
}
