.app__flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 10px;
}

:root {
  --primary-color: #ff7f27;
  --secondary-color: #f7f5c9;
  --danger-color: #dc3545;
  --header-height: 70px;
}

.add-btn {
  position: fixed;
  bottom: 10%;
  right: 4%;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1056;
}
