.app__flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-btn {
  position: fixed;
  bottom: 10%;
  right: 4%;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1056;
}

.tab-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding: 0 20px;
}

.tab-item button {
  margin-left: 20px;
  border: none;
  padding: 6px 26px;
  border-radius: 6px;
}

@media all and (max-width: 780px) {
  .tab-list {
    max-width: 100%;
    overflow-y: auto;
  }
}

.tab-item button.active {
  background-color: #f7f5c9;
}
